.awardsSection {
  padding: 2rem 0;
  text-align: center;
  background: #eee;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 1rem;
  padding: 5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2); 
  background: #fff;
}
.card h3 {
  margin: 0;
  font-size: 3rem;
}
.card h4 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
  .card {
    margin: 0.5rem 0;
    padding: 2rem 0;
  }
}
